@import 'tailwind.css';

 .star-rating input {
      display: none;
    }

    .star-rating label {
      font-size: 2rem;
      color: #ccc;
      cursor: pointer;
      transition: color 0.2s;
    }

    .star-rating input:checked~label,
    .star-rating label:hover,
    .star-rating label:hover~label {
      color: #f59e0b;
    }

    .star-rating {
      direction: rtl;
      display: inline-flex;
    }